*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.login h1{
    margin-top: 10%;
    text-align: center;

}  
.login p{
    margin-left: 620px;
    margin-top: 2%;
}
.login input{
    margin-left: 560px;
    border-radius: 5px;
    
}
.login button{
    margin-left: 560px;
    padding: 10px 50px;
    width: 250px;
    border: 1px solid red;
    border: none;
    border-radius: 8px;
}
.login button:hover{
    background-color: rgba(0, 132, 255, 0.247);
}
    

